<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <appSettings>
    <add key="nuget.exe" value="nuget.exe" /><!--相对路径 把nuget.exe放在当前程序工作的目录下-->
    <add key="msbuildPath" value="C:\Windows\Microsoft.NET\Framework\v4.0.30319\MSBuild.exe" /><!--MSBuild.exe的绝对地址-->
    <add key="compileTxt" value="selectResult.txt" /><!--相对路径 当前程序工作目录下的爬虫的结果-->
    <add key="loggerClass" value="XmlLogger" /><!--相对路径 当前程序工作目录下的logger-->
    <add key="loggerName" value="XmlLogger.dll" /><!--相对路径 当前程序工作目录下的logger.dll名称-->
  </appSettings>
</configuration>